/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

.card-mod{
  border: none !important;
  /* flex-direction: row !important; */
}

.card-text{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
}

.image-round{
  width: 500px;
  height: 380px;
}